@charset "utf-8"; 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);
@font-face {
    font-family: 'Comfortaa';
	font-weight:normal;
    src: url('../design/comfortaa.eot') format('embedded-opentype'),
	     url('../design/comfortaa.svg#comfortaa') format('svg'),
         url('../design/comfortaa.woff') format('woff');         
}
@font-face {
    font-family: 'Comfortaa';
	font-weight:bold;
    src: url('../design/comfortaa-bold.eot') format('embedded-opentype'),
	     url('../design/comfortaa-bold.svg#comfortaa-bold') format('svg'),
         url('../design/comfortaa-bold.woff') format('woff');
}

@font-face {
    font-family: 'AG_Helvetica';
    src: url('../design/AG_Helvetica.eot') format('embedded-opentype'),
		 url('../design/AG_Helvetica.svg#AG_Helvetica') format('svg'),
         url('../design/AG_Helvetica.woff') format('woff');
}
body, textArea, input, select, button{font-family:"Roboto";}
body{
	padding: 0px; 
	margin: 0px; 
	color:black; 	 	 
	width:100%;
	position:absolute; 
	display:table; 
	min-width:1200px;
	background:white;}
body, .allocate > *, .clear-size > *{font-size:14px;}
a{color:inherit;}
ul{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{margin:0;font-weight:normal;}
h1,h2{font-size:30px;text-transform:uppercase;text-align:center;padding:42px 0 46px;font-weight:300;}
/*заголовок страницы*/
h1{}
h1 b{font-weight:500;}
/*заголовок основного блока*/
h2{}
p{margin:0;}/*текст основного блока*/
textarea{margin:0;resize:none;font:inherit;overflow-y:auto;box-sizing:border-box;}
textarea:focus, input:focus, select:focus{outline: none;}
textarea:active, input:active, select:active{outline: none;}
input{font-size:inherit;box-sizing:border-box;border-width:1px;margin:0;font:inherit;}
input::-ms-clear {width : 0;height: 0;}
button{cursor:pointer;color:inherit;}
/*fixes*/
.null {height: 0px; min-height: 0px; line-height: 0px; font-size: 0px; overflow: hidden; clear: both;}
.clear-size{font-size:0.1px;}
/*распределение по ширине контента в одну линию*/
.flexbox{
		 display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
        -webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
        display: -webkit-flex; /* оптимизация для Safari */
        -webkit-justify-content: space-between; /* оптимизация для Safari */
        display: flex;
        justify-content: space-between;
        text-align: justify; /* IE10-, Firefox 12-22 */
        text-align-last: justify; /* IE10-, Firefox 12-22 */
}
.flexbox > *{display:inline-block;}
/*распределение по ширине контента*/
.allocate{text-align:justify;font-size:0.1px;}
.allocate > *{display:inline-block;text-align:left;vertical-align:top;}
.allocate:after{content:"";width:100%;display:inline-block;}
/**равномерное распределение по горизонтали табличным блоком*/
.t-allocate-h{display:table;}
.t-allocate-h > *{display:table-cell;vertical-align:top;}
.t-allocate-h >*:last-child{width:1px;white-space:nowrap;}
/**равномерное распределение по горизонтали и центрирование по вертикали табличным блоком*/
.t-allocate-h-v{display:table;}
.t-allocate-h-v > *{display:table-cell;vertical-align:middle;}
.t-allocate-h-v >*:last-child{width:1px;white-space:nowrap;}
/*placement*/
.relative{position:relative;}
.to-right{text-align:right;}
.inline-top{display:inline-block;vertical-align:top;}
.inline-middle{display:inline-block;vertical-align:middle;}
.inline-middle-all > *{display:inline-block;vertical-align:middle;}
.inline-top-all > *{display:inline-block;vertical-align:top;}
.inline-base-all > *{display:inline-block;vertical-align:baseline;}
.inline-bottom-all > *{display:inline-block;vertical-align:bottom;}
.center-child{text-align:center;}
.centred-child > *{display:inline-block;vertical-align:top;text-align:left;}
.mirror{transform:scale(-1,-1);-webkit-transform:scale(-1,-1);}
.mirror-x{transform:scaleX(-1);-webkit-transform:scaleX(-1);}
.mirror-y{transform:scaleY(-1);-webkit-transform:scaleY(-1);}
.unselect{
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;}
/*обернуть в таблицу*/
.wrap-table{display:table;box-sizing:border-box;}
.wrap-table > *{display:table-cell;vertical-align:top;}

/**/
.modal{
	top:0;left:0;
	position:fixed;	
	width:100%;
	height:100%;
	z-index:1000;
	background:rgba(255,255,255,0.9);
	text-align:center;}
.modal:after{height:100%;content:"";display:inline-block;vertical-align:middle;}
.modal > div{display:inline-block;vertical-align:middle;position:relative;}
/*quick use*/
.tb{display:table;}
.td{display:table-cell;}
.td-t{display:table-cell;vertical-align:top;}
.td-m{display:table-cell;vertical-align:middle;}

.tr{display:table-row;}
/*content greed*/
.content{width:1100px; margin-left:auto; margin-right:auto;position:relative;box-sizing:border-box;}
.content2{width:100%; position:relative;box-sizing:border-box;}
.content3{width:1000px; margin-left:auto; margin-right:auto;position:relative;box-sizing:border-box;}
.content4{width:714px; margin-left:auto; margin-right:auto;position:relative;box-sizing:border-box;}
.content5{width:808px; margin-left:auto; margin-right:auto;position:relative;box-sizing:border-box;}
/*distinct*/
.placeholders1 input:-ms-input-placeholder{text-align:center;}
.placeholders1 input::-moz-placeholder{text-align:center;}
.placeholders1 input::-webkit-input-placeholder{text-align:center;}
.p-link{text-decoration:none;border-bottom:1px dashed;cursor:pointer;}
.basket-info{text-align:center;font-size:18px;text-decoration:none;}
.basket-info > *{vertical-align:middle;}
.basket-info .num{font-family:"AG_Helvetica";margin-left:13px;}
.basket-info .icon{margin:-4px 0 4px;}
/*buttons*/
.btn{
	display:inline-block;
	cursor:pointer;
	box-sizing:border-box;
	text-decoration:none;
	color:inherit;}

.btn.m-1{
	font:17px/69px "Tahoma";
	padding:0 61px;
	color:white;
	border-radius:35px;
	border:1px solid #ec6c34;
	background:none;
	color:#ec6c34;
	background-color:white;
	transition:0.3s ease 0s;
	-webkit-transition:0.3s ease 0s;}
.btn.m-1:hover{
	background-color:#ec6c34;
	color:white;
	transition:0.3s ease 0s;
	-webkit-transition:0.3s ease 0s;}

.btn.m-2{
	font:17px/69px "Tahoma";
	color:white;
	padding:0 50px;
	color:white;
	border-radius:35px;
	border:1px solid #ec6c34;}


.nav-btn-1{top:252px;position:absolute;opacity:0.5;z-index:100;cursor:pointer;}
.nav-btn-1:hover{opacity:1;}
.nav-btn-1.prev{left:0;}
.nav-btn-1.next{right:0;}

.nav-btn-2{top:263px;position:absolute;opacity:0.5;z-index:100;cursor:pointer;}
.nav-btn-2:hover{opacity:1;}
.nav-btn-2.prev{left:0;}
.nav-btn-2.next{right:0;}

.nav-btn-3{top:118px;position:absolute;opacity:0.5;z-index:100;cursor:pointer;}
.nav-btn-3:hover{opacity:1;}
.nav-btn-3.prev{left:-27px;}
.nav-btn-3.next{right:-27px;}

.nav-btn-4{top:41px;position:absolute;opacity:0.5;z-index:100;cursor:pointer;}
.nav-btn-4:hover{opacity:1;}
.nav-btn-4.prev{right:91px;}
.nav-btn-4.next{right:74px;}

.nav-btn-5{top:145px;position:absolute;opacity:0.5;z-index:100;cursor:pointer;}
.nav-btn-5:hover{opacity:1;}
.nav-btn-5.prev{left:29%;}
.nav-btn-5.next{right:29%;}

.nav-btn-6{top:0px;bottom:0;margin:auto 0;position:absolute;opacity:0.5;z-index:100;cursor:pointer;}
.nav-btn-6:hover{opacity:1;}
.nav-btn-6.prev{left:0;}
.nav-btn-6.next{right:0;}


/*fields*/
.count-field-1{width:160px;display:inline-block;}
.count-field-1 img{cursor:pointer;}
.count-field-1 input{
	width:78px;
	height:32px;
	border:2px solid #cacaca;
	border-radius:39px;
	background-color:#f6f6f9;
	text-align:center;
	color:#aaa;}

.count-field-2{width:160px;display:inline-block;}
.count-field-2 img{cursor:pointer;}
.count-field-2 input{
	width:78px;
	height:32px;
	border:1px solid #cacaca;
	border-radius:39px;
	background-color:#f6f6f9;
	text-align:center;
	color:#aaa;}
/*forms*/
.basket-form{border:1px solid #e0e0e0;padding:35px 30px;}
.basket-form .c{float:left;font-size:24px;font-weight:300;}
.basket-form .wr1{float:right;}
.basket-form .t1{color:#333333;font-size:12px;font-weight:300;}

.basket-form select, .basket-form input[type="text"], .basket-form textArea{
	border-radius:2px;
	border:1px solid #e0e0e0;
	background-color:#f6f6f6;
	font-size:15px;
	font-weight:300;}	
.basket-form select, .basket-form input[type="text"]{height:41px;}
.basket-form input[type="text"], .basket-form textArea{width:100%;padding:0 10px;}
.basket-form select{width:211px;}
.basket-form select:not(:last-of-type){margin-right:30px;}
.basket-form input[type="text"]{}
.basket-form textArea{height:108px;padding-top:5px;}
.basket-form table{width:100%;border-collapse:collapse;margin-top:30px;}
.basket-form th, .basket-form td{padding:0;}
.basket-form th{
	font-weight:300;
	font-size:12px;
	color:#727272;
	width:220px;
	text-align:left;
	padding-left:8px;}
.basket-form td{padding:10px 0;}
.basket-form .btn{
	position:absolute;
	right:0;
	bottom:-109px;
	text-transform:uppercase;
	font-size:28px;
	padding:0 42px;
	font-weight:300;}

.callback-form{}
.callback-form .wr{width:300px;height:338px;box-sizing:border-box;padding:20px 30px;border-radius:20px;color:white;}
.callback-form .c{font-weight:300;font-size:20px;text-transform:uppercase;margin-bottom:15px;}
.callback-form input[type="text"], .callback-form textarea{width:100%;padding:0 14px;border:none;}
.callback-form input[type="text"]{height:35px;margin-bottom:15px;}
.callback-form textarea{margin-bottom:15px;padding-top:10px;height:95px;}
.callback-form .close-btn{left:100%;bottom:100%;cursor:pointer;position:absolute;}
.callback-form .btn{
	height:43px;
	border:2px solid white;
	padding:0 35px;
	background:none;
	border-radius:22px;
	transition:0.3s ease 0s;}
.callback-form .btn:hover{background-color:white;color:#ec6c34;transition:0.3s ease 0s;}
.callback-form .marker{position:absolute;top:-14px;left:0;right:0;margin:0 auto;}

.question-form{
	background:url(../design/bg2.jpg)no-repeat 0 0;
	background-size:cover;
	width:760px;
	box-sizing:border-box;
	padding:10px 43px 24px;
	border-radius:10px;
	position:relative;
	z-index:1;}
.question-form .c{
	font-size:25px;
	font-weight:300;
	text-align:center;
	color:white;
	text-transform:uppercase;
	margin-bottom:13px;}
.question-form .wr{}
.question-form input[type="text"], .question-form .btn{
	width:201px;
	height:49px;
	border-radius:25px;
	color:white;
	border:1px solid white;}
.question-form input[type="text"]{background:none;text-align:center;padding:0 10px;}
.question-form .btn{
	text-align:center;
	background-color:white;
	color:#ec6c34;
	transition:0.3s ease 0s;
	-webkit-transition:0.3s ease 0s;}
.question-form .btn:hover{
	background-color:#a3cf55;
	color:white;	
	transition:0.3s ease 0s;
	-webkit-transition:0.3s ease 0s;}

.question-form input:-ms-input-placeholder{color:white;}
.question-form input::-webkit-input-placeholder{color:white;}
.question-form input::-moz-placeholder{color:white;opacity:1;}

.consult-form{background:url(../design/bg1.jpg)no-repeat 0 0;background-size:cover;}
.consult-form .wr{padding:0 19px;}
.consult-form{padding:24px 0 53px;}
.consult-form .c{color:white;font-size:30px;font-weight:300;text-transform:uppercase;margin-bottom:34px;}
.consult-form input[type="text"], .consult-form .btn{
	width:289px;
	height:78px;
	border-radius:39px;
	font-size:24px;
	font-weight:300;}
.consult-form input[type="text"]{border:2px solid white;background:none;text-align:center;padding:0 10px;}
.consult-form .btn{text-align:center;}

/*tables*/
.tb-basket{width:100%;border-collapse:collapse;margin-top:23px;}
.tb-basket a{text-decoration:none;}
.tb-basket th, .tb-basket td{text-align:center;padding:2px;}
.tb-basket th:nth-child(2), .tb-basket td:nth-child(2){text-align:left;padding-left:28px;}
.tb-basket th{
	font-size:12px;
	font-weight:100;
	height:40px;
	text-transform:uppercase;
	background-color:#f6f6f6;}
.tb-basket th:last-child{width:85px;}
.tb-basket th, .tb-basket td{border:1px solid #e0e0e0;}
.tb-basket th:not(:first-child), .tb-basket td:not(:first-child){border-left:none;}
.tb-basket th:not(:last-child), .tb-basket td:not(:last-child){border-right:none;}
.tb-basket .photo{height:134px;width:134px;}
.tb-basket .photo img{display:block;}
.tb-basket .price{font-size:15px;font-weight:bold;}
.tb-basket .d{color:#1a91d5;width:322px;}
.tb-basket .close-btn{cursor:pointer;}



.tb-goods{border-spacing:0 15px;width:100%;margin-top:-7px;}
.tb-goods td{border:1px solid #cdcdcd;border-left:none;border-right:none;padding:9px 0;text-align:center;}
.tb-goods td:first-child{border-left:1px solid #cdcdcd;}
.tb-goods td:last-child{border-right:1px solid #cdcdcd;}
.tb-goods .d{font-weight:300;width:380px;text-align:left;}
.tb-goods .photo{width:176px;}
.tb-goods .price{font-weight:500;font-size:24px;}
.tb-goods .btn{padding:0 20px;line-height:30px;}
/*items*/
.item-s{padding:20px;display:block;position:relative;background:no-repeat center center;}
.item-s:after{
	content:"";
	display:block;
	width:186px;
	height:248px;
	box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
	background:url(../design/frame.png)no-repeat;}

.item-ac{
	width:207px;
	height:403px;
	padding:12px 5px;
	text-align:center;
	background-color:white;
	border:1px solid #cdcdcd;
	box-sizing:border-box;}
.item-ac .photo{display:inline-block;}
.item-ac .c{height:50px;font-weight:300;margin:10px 0 10px;}
.item-ac .price{font-size:23px;font-weight:500;margin-bottom:12px;}
.item-ac .btn{line-height:32px;padding:0 20px;font-weight:300;font-size:14px;margin-top:14px;}


.item-m2{height:577px;}
.item-m2 .c{
	position:absolute;
	text-align:right;
	top:333px;
	right:33px;
	font-weight:100;
	font-size:36px;
	color:#28211f;}
.item-m2 .c:before{content:"";display:inline-block;width:65px;}
.item-m2 .c span{background-color:white;line-height:48px;padding:3px 12px;}
.item-m2 .c span:last-child{padding-bottom:16px;}
.item-m2 .l1{position:absolute;top:119px;left:118px;}
.item-m2 .l2{position:absolute;top:50%;right:100%;}
.item-m2 .l3{position:absolute;top:44px;left:142px;}
.item-m2 .t{
	width:142px;
	height:142px;
	border-radius:71px;
	position:absolute;
	border:1px solid #ec6c34;
	box-sizing:border-box;
	display:table;
	vertical-align:middle;
	font-size:16px;}
.item-m2 .t span{display:table-cell;vertical-align:middle;text-align:center;padding:0 12px;}
.item-m2 .t .img{
	position:absolute;
	background-size:cover;
	border-radius:inherit;
	left:1px;
	top:1px;
	right:1px;
	bottom:1px;
	opacity:0;}
.item-m2 .t:hover .img{opacity:1;transition:all 1s ease 0s;}
.item-m2 .t1{left:52px;top:47px;}
.item-m2 .t2{right:84px;top:73px;}
.item-m2 .t3{left:13px;top:30px;}
.item-m2 .btn{position:absolute;right:50px;bottom:45px;}

.item-r{padding:22px 0 44px;}
.item-r .photo{margin:0 21px 0 18px;border-radius:57px;border:1px solid white;}
.item-r .wr{width:840px;padding:20px 0 0;}
.item-r .name{color:#4d2d22;font-size:24px;font-style:italic;}
.item-r .d{color:white;margin-bottom:12px;}

.item-m{position:relative;display:inline-block;padding-left:50px;}
.item-m .wr{display:table;width:100%;height:64px;}
.item-m .num{position:absolute;left:0;top:0;font-size:87px;font-weight:300;line-height:76px;}
.item-m .img{
/*	border:3px solid #8dc63f;*/
	box-shadow: 0 0 0 3px #8dc63f;
	width:221px;
	border-radius:113px;}
.item-m .c{
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:15px;
	margin:0 auto;
	display:table-cell;
	vertical-align:middle;}
.item-m .num .fig{margin-right:-16px;}
.item-m .line-1{position:absolute;left:102%;bottom:0;}

.item-c{
	width:472px;
	height:691px;
	box-sizing:border-box;
	border:1px solid #c8c8c8;
	background-color:white;
	text-align:center;
	padding:55px 0 10px;}
.item-c .img{display:block;}
.item-c .c{font-size:24px;margin-top:32px;}
.item-c .price{font-size:30px;margin-bottom:15px;}
.item-c .d{}
.item-c .size{font-size:18px;margin:5px 0 18px;}
.item-c .btn{}

.item-p{width:319px;text-align:center;}
.item-p .c{font-size:18px;text-transform:uppercase;margin:22px 0 26px;}
.item-p .d{font-size:12px;font-weight:300;line-height:25px;padding:0 10px;}

.item-ms{width:100%;height:578px;position:relative;background:repeat-x center top;}
.item-ms .wr{position:absolute;top:167px;right:0;text-align:right;width:650px;}
.item-ms .c{font:58px/66px "Tahoma";color:white;margin-bottom:30px;}
.item-ms .c:before{content:"";width:90px;display:inline-block;}

.item-q{
	background:url(../design/next_btn4.png)no-repeat left 13px;
	padding-left:50px;
	color:#222222;
	font-size:16px;
	text-decoration:none;
	line-height:48px;
	display:block;
	text-transform:uppercase;}
.item-q:hover{text-decoration:underline;}

/*sliders*/
.slider-t{min-height:612px;width:450px;}
.slider-t .lSGallery li{border-radius:0 !important;}
.slider-t .lSGallery li a{border:3px solid transparent;display:block;}
.slider-t .lSGallery li.active a{border-color:#ec6c34;}

.slides > li{display:block;float:left;}
.slides:after{content:"";display:block;clear:both;}

.slider-q{padding:0 0 0 179px;margin-top:-29px;}
.slider-q .slides > li{float:none;}
.slider[data-show-items="1"] > .slides > li:nth-child(n+2){display:none;}
.slider[data-show-items="1"] > .slides > li:nth-child(n+1){margin-right:0;}
.slider[data-show-items="2"] > .slides > li:nth-child(n+3){display:none;}
.slider[data-show-items="2"] > .slides > li:nth-child(n+2){margin-right:0;}
.slider[data-show-items="3"] > .slides > li:nth-child(n+4){display:none;}
.slider[data-show-items="3"] > .slides > li:nth-child(n+3){margin-right:0;}
.slider[data-show-items="4"] > .slides > li:nth-child(n+5){display:none;}
.slider[data-show-items="4"] > .slides > li:nth-child(n+4){margin-right:0;}
.slider[data-show-items="5"] > .slides > li:nth-child(n+6){display:none;}
.slider[data-show-items="5"] > .slides > li:nth-child(n+5){margin-right:0;}


.slider-r{padding-top:17px;}

.slider-s{}
.slider-s .slides > li{margin-right:12px;}

.slider-c{position:relative;}
.slider-c .slides > li{margin-right:55px;}

.slider-ac{position:relative;}
.slider-ac .slides > li{margin-right:57px;}

.slider-m2{
	background:url(../design/slide_bg.jpg)repeat-x center top;
	height:577px;}

.slider-m{position:relative;}
.slider-m .slides > li{width:100%;}
.slider-m > .slides > li:nth-child(n+2){display:none;}
.slider-m .lSPager.lSpg{position:absolute;padding-left:557px;width:100%;box-sizing:border-box;bottom:37px;}
.slider-m .lSPager.lSpg > li a{width:18px;height:18px;border-radius:9px;display:inline-block;background-color:white;}
.slider-m .lSPager.lSpg > li.active a{background-color:#1bccff;}
.slider-m .lSPager.lSpg li{padding:0 11px;}

.flipster{overflow:visible;}
/*
.flipster .flip-hidden{display:none;}
.flipster .pre-past{display:block;}
.flipster .after-future{display:block;}
/*
.flipster .flip-item:first-child{display:block;}
.flipster .flip-item:last-child{display:block;}*/

.slider-g{margin-top:-22px;}
.slider-g .wr{overflow:hidden;padding:35px 0;}
.slider-g .flip-items img{
	box-shadow:none;}
.slider-g .flip-current div:before{
	content:"";
	background:url(../design/shadow.png)no-repeat center bottom;
	position:absolute;
	bottom:-55px;
	width:851px;
	height:100%;
	left:-105px;}
.slider-g .flipto-next,
.slider-g .flipto-prev{display:none;}
.slider-g .flip-item:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.5)}
.slider-g .flip-item{box-shadow:0 5px 10px 0 rgba(0,0,0,0.3);opacity:1;}
.slider-g .flip-current{box-shadow:0 5px 15px 0 rgba(0,0,0,0.4);}
.slider-g .flip-current:after{background:none;}
.slider-g .flip-prev {
	transform: translateX(-73%) scale(0.8);
	-webkit-transform: translateX(-73%) scale(0.8);
}
.slider-g .flip-next {
	transform: translateX(73%) scale(0.8);
	-webkit-transform: translateX(73%) scale(0.8);
}

.slider-g .flip-past {
	transform: translateX(-112%) scale(0.6);
	-webkit-transform: translate3D(-112%, 0, -100px) scale(0.6);
}
.slider-g .flip-future {
	transform: translateX(112%) scale(0.6);
	-webkit-transform: translate3D(112%, 0, -100px) scale(0.6);
}
/*tabulators*/
.tab-content{display:none;box-sizing:border-box;}
.tabulator input[type="radio"]:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1){display:block;}
.tabulator input[type="radio"]:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2){display:block;}

.tabulator.m-1{
	position:static;
}
.tabulator.m-1 .tab{
	line-height:95px;
	padding:0 60px;
	cursor:pointer;
	font-size:30px;
	font-weight:300;
	text-transform:uppercase;
	display:inline-block;}
.tabulator.m-1 input:checked + .tab{background-color:#f1f1f1;}
.tabulator.m-1 .tab-content{min-height:258px;padding:47px 0 0;}
.tabulator.m-1 .tab-content .bg{
	position:absolute;
	top:95px;
	left:0;
	width:100%;
	bottom:0;
	background-color:#f1f1f1;
	display:block;}
.tabulator.m-1 .tab-content > *:nth-child(n+2){position:relative;z-index:1;}
.tab-content p {margin: 0px 0px 16px 0px; text-indent:30px;}

/*navigation*/
.menu{}
.menu a{text-transform:uppercase;text-decoration:none;font-size:18px;margin-right:47px;}
.menu a:hover{text-decoration:underline;}

.nav{margin-left:-16px;}
.nav a{
	color:white;
	font-size:18px;
	line-height:72px;
	padding:0 15px;
	border-top:4px solid transparent;
	float:left;
	text-decoration:none;
	position:relative;
	cursor:pointer;}
.nav a:hover, .nav a.active{border-top-color:#e18258;background-color:#140e0f;}
.nav a:hover:before{
	content:"";
	background:url(../design/marker1.png)no-repeat;
	position:absolute;
	width:12px;
	height:9px;
	left:0;
	right:0;
	top:0;
	margin:0 auto;}

.nav-2{width:250px;padding-right:10px;}
.nav-2 a{font-size:17px;line-height:38px;display:block;text-decoration:none;}
.nav-2 a[href],.nav-2 a[onclick]{cursor:pointer;}
.nav-2 a[href]:hover,.nav-2 a[onclick]:hover{text-decoration:underline;}
.nav-2 a:first-child{text-transform:uppercase;}

/*blocks*/
header{padding:21px 0 0;}
header .logo{height:74px;margin-right:80px;}
header .tel{color:#010101;font:29px "Tahoma";}
header .code{color:#453b38;font-size:25px;}
header .ct{text-align:right;}
header .call-form{cursor:pointer;}
header .t1{font:bold 17px "Comfortaa";color:#e18258;text-decoration:underline;letter-spacing:1px;}

header .fr1{padding:0 0 25px;}
header .fr2{color:white;}

.pros{}
.pros .l1, .pros .l2{width:1px;height:141px;background-color:#736357;position:absolute;}
.pros .l1{left:33%;}
.pros .l2{right:33%;}

.catalog{padding:0 0 31px;}
.catalog .bg{height:307px;top:134px;position:absolute;width:100%;}

.certificates{padding:0 0 34px;}
.certificates .bg{height:136px;position:absolute;width:100%;top:62px;}

.mounting{padding:0 0 85px;}

.gallery{padding:32px 0; height:413px;}

.reviews{}
.reviews .quote{position:absolute;}
.reviews .quote.l{top:17px;left:-40px;}
.reviews .quote.r{bottom:49px;right:-40px;}

.ofl-question{padding:38px 0 14px;}

.contacts{}
.contacts .c{font-size:17px;margin:-18px auto 32px;}
.contacts .link{
	position:absolute;
	width:153px;
	font:13px/38px "Tahoma";
	display:inline-block;
	top:140px;
	left:280px;
	text-align:center;
	border-radius:19px;
	z-index:100;
	color:white;
	display:none;}

.map{height:364px;}


.pre-footer{padding:84px 0 113px;}

.some-dude{position:absolute;right:0;bottom:0;}

.card{padding:20px 0 54px;}
.card .fr{margin-top:30px;}
.card .fr2{width:550px;}
.card .parameters{border:1px solid #cccccc;display:table;width:100%;padding:19px 23px;box-sizing:border-box;}
.card .parameters .c{display:table-caption;font-size:20px;font-weight:bold;margin-bottom:28px;}
.card .parameters table{font-size:12px;font-weight:300;width:100%;}
.card .parameters tr{height:32px;}
.card .parameters th{color:#4b4b4b;font-weight:normal;text-align:left;white-space:nowrap;width:1px;}
.card .parameters .dotted{border-bottom:1px dotted #eaeaea;line-height:8px;vertical-align:top;}
.card .parameters td:last-child{text-align:right;white-space:nowrap;width:1px;}
.card .wr1{height:71px;margin-top:63px;}
.card .price{
	width:272px;
	height:inherit;
	font-size:30px;
	font-weight:300;
	box-sizing:border-box;
	border:2px solid #eaeaea;
	border-radius:35px;
	text-align:center;
	display:inline-table;}
.card .price > *{height:inherit;text-align:center;}
.card .price b{font-weight:500;}
.card  .basket-icon{
	width:28px;
	height:27px;
	background:url(../design/basket.png)no-repeat;
	margin-right:25px;
	display:inline-block;
	vertical-align:middle;}
.card .wr1 .btn{padding:0 50px 0 27px;height:inherit;font-size:28px;font-weight:300;text-transform:uppercase;}
.card .wr1 .btn:hover .basket-icon{background-image:url(../design/basket2.png);}

.accessories{padding:50px 0 62px;background-color:#f1f1f1;}
.accessories .items{}

.basket{padding:20px 0;margin-bottom:143px;}
.basket .fr1{position:relative;}
.basket .total{font-size:30px;font-weight:300;line-height:130px;text-align:right;}
.basket .total b{font-weight:500;}
.basket .clear{position:absolute;right:0;top:-70px;color:#b8b8b8;}
.basket .clear button{
	height:31px;
	border:1px solid #e0e0e0;
	font-size:10px;
	font-weight:500;
	text-transform:uppercase;
	padding:0 30px 0 0;}
.basket .clear button img{margin:0 12px;vertical-align:middle;}
.basket .clear .t{font:300 10px "Open Sans";}


.page{}
.page .other-goods{padding:14px 0 0;}

.page .wr{}
.page p{color:#666666;font-weight:300;line-height:24px;text-indent: 0px; font-size: 18px; margin: 0px 0px 16px 0px;}



footer{color:white;padding:27px 0 50px;}
footer .fr1{opacity:0.7;}
footer .fr2{opacity:0.7;}
footer .tel{font-size:29px;font-family:"Tahoma"}
footer .code{font-size:25px;}
footer .t1{font-size:17px;line-height:30px;margin:7px 0;}
footer .fr2{text-align:right;}
footer .dev{line-height:25px;padding-top:36px;}
footer .dev a{display:block;}
/*color scheme - цветовые схемы*/
	/*темно-серый*/
.tc-scheme1{color:#28211f;}
.bc-scheme1{background-color:#28211f;}
	/*почти черный*/
.tc-scheme2{color:#140e0f;}
.bc-scheme2{background-color:#140e0f;}
	/*светло-серый*/
.tc-scheme3{color:#7e7e7e;}
.bc-scheme3{background-color:#7e7e7e;}
	/*оранжевый*/
.tc-scheme4{color:#ec6c34;}
.bc-scheme4{background-color:#ec6c34;}
	/*розовый*/
.tc-scheme5{color:#ebae93;}
.bc-scheme5{background-color:#ebae93;}
	/*коричневый*/
.tc-scheme6{color:#4e322e;}
.bc-scheme6{background-color:#4e322e;}
	/*зеленый*/
.tc-scheme7{color:#a3cf55;}
.bc-scheme7{background-color:#a3cf55;}
	/*оранжево-коричневый*/
.tc-scheme8{color:#c34c18;}
.bc-scheme8{background-color:#c34c18;}


p {color:#242424;font-weight:300;line-height:24px;text-indent: 0px; font-size: 18px; margin: 0px 0px 16px 0px;}
.fdd ol, .fdd ul {margin: 0px 0px 16px 36px; padding: 0px 0px 0px 0px; font-size: 18px; }
.fdd ul li, .fdd ol li {margin: 0px 24px 4px 16px; padding: 0px 0px 0px 0px;}












